@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body{
    font-family: "JetBrains Mono";
    font-size: 125%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 500px;
    margin-top: 40px;
    border-radius: 40px;
    width: 400px;
    box-shadow: 3px 3px 3px rgb(203, 203, 203);
}

button{
    padding: 30px;
    line-height: 0px;
    background-color: rgb(243, 220, 243);
    border-radius: 20px;
    border-width: 0px;
    box-shadow: 1px 1px 5px rgb(155, 155, 155);
    font-family: "JetBrains Mono";
}

button:hover{
    background-color: rgb(232, 198, 232);
}

.paragrafo{
    font-size: small;
    margin-top: -20px;
    color: gray;
}